<!doctype html>
{% load static %}
<html lang="en">
<head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
</head>
<body>
{% if clubs %}
    <div class="list">
        {% for club in clubs %}
            <div class="card">
                <!--todo put img in static-->
                <a href='/club/{{ club.id }}'>
                    <img src="{{ club.logo }}" class="photo">
                </a>
                <div class="title">{{ club.name }}</div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>There are no sportsmen in the db.</p>
{% endif %}

</body>
</html>