{% extends 'content/base-content.html' %}

{% load static %}

{% block info_content %}

    <p>
        <b style="font-size: 1.5em">{{ club.name }}</b>
    </p>

    <br>
    <p>
        <b>Country:</b>
        <img src="{{ club.country.flag }}"> {{ club.country.name }}
    </p>

    {% if club.league %}
        <p>
            <b>League:</b>
            <a href="/league/{{ club.league.id }}">

                {% if club.league.logo %}
                    <img src="{{ club.league.logo.url }}" width="16px" height="auto">
                {% endif %}

                {{ club.league.name }}
            </a>
        </p>
    {% endif %}

    {% if club.info %}
        <br>
        <p>{{ club.info }}</p>
    {% endif %}

{% endblock %}

{% block base_content %}


    <table class="player-table table table-bordered">
        <thead class="thead-dark player-table-row-title">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Country</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
        </tr>
        </thead>
        <tbody>

        {% if players %}

            {% for player in players %}
                <tr class="player-table-row">

                    <th scope="row">{{ player.shirt_number }}</th>
                    <td>
                        <img src="{{ player.country.flag }}">
                        {{ player.country.name }}
                    </td>

                    <td>
                        <a href="/player/{{ player.id }}"> {{ player.full_name }}</a>

                        {% if player.is_captain %}
                            (captain)
                        {% endif %}
                    </td>

                    {% if player.bdate %}
                        <td style="width:10%">{{ player.age }}</td>
                    {% else %}
                        <td style="width:10%"></td>
                    {% endif %}
                </tr>
            {% endfor %}


        {% else %}
            <b>There are no players in this team found</b>
        {% endif %}
        </tbody>
    </table>

{% endblock base_content %}