{% extends 'base/base.html' %}

{% load static %}

{% block content %}
    <div class="row card-row">
        {% for league in leagues %}

            <div class="card col-2 landing-card wrap" style="width: 20rem;">
                <a href="/league/{{ league.id }}" class="landing-card-link">
                    <img class="landing-card-logo card-img-top " alt="Card image cap"
                         src="{% if league.logo %} {{ league.logo.url }} {% else %} {% static 'img/default_logo.png' %} {% endif %}">
                    <div class="card-block">

                        <h4 class="card-title">
                            <img src='{{ league.country.flag }}'/>
                            {{ league.name }}
                        </h4>
                    </div>
                </a>
            </div>

        {% endfor %}
    </div>
{% endblock %}