{% extends 'base/base.html' %}

{% load static %}

{% block content %}

    <div class="row card-row">
        {% for league in leagues %}

        <div class=" col-3 card league-club-card align-self-center">
            <a href="/league/{{ league.id }}">
                <div class="row align-items-center">
                    <div class="col-6">
                        <img src="{% if league.logo %} {{ league.logo.url }} {% else %} {% static 'img/default_logo.png' %} {% endif %}"
                             class="league-club-logo">
                    </div>
                    <div class="col-6">
                        <div class="text-center">
                            <p>{{ league.name }}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    {% endfor %}
    </div>
{% endblock %}