.landing-card-logo {
    width: 300px;
    height: 400px;
    margin: 0;
    padding: 0;
}

.landing-card-link {
    text-decoration: none;
}

.display-image {
    width: 400px;
    height: 530px;
}

.league-club-logo {
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
}

.league-club-card {
    margin: 10px;
}